@font-face {
    font-family: 'Nixie One';
    src: url(../fonts/NixieOne-Regular.ttf);
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url(../fonts/AlegreyaSans-Regular.ttf);
}

@font-face {
    font-family: 'Alegreya SC';
    src: url(../fonts/AlegreyaSC-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --maincolor: #ffffff;
    --secondcolor: #3A4F52;
    --thirdcolor: #6A6A6A;
    --fourthcolor: #4DA7CA;
    --fifthcolor: #2B3E51;
}

img {
    max-width: 100%;
    height: auto;
  }

a{
    text-decoration: none;
    color: var(--maincolor);
}

div, section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

header {
    background: url(../img/hero.png) no-repeat;
    background-size: cover;
    background-position: center;  
    align-items: normal;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--maincolor);
    height: 80vh;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100vw;
}

h1{
    font-size: 2.25rem;
    font-family: 'Alegreya SC';
    font-weight: 400;
}

h2{
    font-family: 'Alegreya Sans';
    color: var(--secondcolor);
    font-size: 2.5em;
    color: var(--maincolor);
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: var(--thirdcolor);
}

.page{
}

.burger__wrapper{
    align-items: flex-end;
}

.burger{
    height: 4px;
    width: 5px;
    background-color: var(--maincolor);
    margin: 2px;
    width: 30px;
}

.navigation {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4em;
}

.hero{
    margin: 20px;
    margin-top: 3rem;
}

.hero h2{
    font-family: 'Nixie One';
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2.25em;
}

.hero p{
    font-family: 'Alegreya SC';
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.view-all {
    background: transparent;
    padding: 0.7em 1em;
    text-align: center;
    border: 2px solid var(--secondcolor);
    color: var(--secondcolor);
    line-height: 25px;
}

.button {
    background: transparent;
    padding: 0.7em 1em;
    text-align: center;
    border: 2px solid var(--maincolor);
    color: var(--maincolor);
    line-height: 25px;
}
.works, .blog{
    align-items: flex-start;
}

.works div, .blog div{
    flex-direction: row;
    width: 100vw;
}

.first-row{
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.viewall{
    justify-content: flex-end;
    padding-right: 20px;
}

.heading{
    gap: 3em;
}

.heading .view-all{
    margin-top: 30px;
}

.heading p{
    text-align: left;
}

.desc{
    justify-content: flex-start;
    padding-left: 1em;
}

.gallery1, .gallery2{
    flex-direction: column;
    flex-wrap: wrap;
}

[class^=img]{
    height: 60vh;
    width: 100vw;
    margin: 20px 0px;
    background-size: 100%;
}

.img1{
background: linear-gradient(rgba(2, 56, 58, 0.7),rgba(2, 56, 58, 0.7)), url(../img/link6.png) center/cover no-repeat;
}

.img2{
background: linear-gradient(rgba(2, 56, 58, 0.7),rgba(2, 56, 58, 0.7)), url(../img/link5.png) center/cover no-repeat;
}
.img3{
background: linear-gradient(rgba(2, 56, 58, 0.7),rgba(2, 56, 58, 0.7)), url(../img/link4.png) center/cover no-repeat;
}
.img4{
background: linear-gradient(rgba(2, 56, 58, 0.7),rgba(2, 56, 58, 0.7)), url(../img/link3.png) center/cover no-repeat;
}
.img5{
background: linear-gradient(rgba(2, 56, 58, 0.7),rgba(2, 56, 58, 0.7)), url(../img/link2.png) center/cover no-repeat;
}
.img6{
background: linear-gradient(rgba(2, 56, 58, 0.7),rgba(2, 56, 58, 0.7)), url(../img/link1.png) center/cover no-repeat;
}

.services{
    background: url(../img/services-bg.png) no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    padding: 50px 0px;
    width: 100vw;
}

.services p{
    color: var(--maincolor);
}

.services h2{
    color: var(--maincolor);
    font-size: 4em;
}

[class^="servno"]{
    width: 80vw;
    margin: 40px 0px;
    gap: 30px;
    text-align: center;
    line-height: 30px;
}
.blog .heading{
    justify-content: space-evenly;
}

.blog .post{
    flex-direction: column;
    text-align: left;
    margin-top: 75px;
}

.post:nth-of-type(5){
    margin-bottom: 80px;
}
.blog .desc{
    padding-left: 1.7em;
}

.blog .post .preview{
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 30px;
    gap: 30px;
    padding-top: 20px;
}

.blog span{
    font-style: italic;
    color: var(--thirdcolor);
}

.blog a{
    color: var(--fourthcolor);
}

.quote{
    background: url(../img/parallax.png) no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 60px;
    gap: 5em;
}

.quote .button{
    margin-bottom: 40px;
}

.quote p{
    color: white;
    font-size: 3em;
    text-align: center;
}

.quote a{
    font-size: 1.5em;
}

.reviews{
    width: 100vw;
    text-align: center;
    background: #F1F0F0;
    padding-top: 30px;
    gap: 20px;
    padding-bottom: 100px;
}


.review{
    display: flex;
    gap: 30px;
    padding-top: 40px;
    width: 300px;
    font-size: 1.5em;
}

.reviews span{
    font-weight: 600;
    color: var(--thirdcolor);
    padding-top: 25px;
}

.reviewer{
    display: flex;
    gap: 10px;
}

.contact{
    background: url(../img/contact.png) no-repeat;
    background-position:bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    padding-top: 100px;
}

.contact h2{
    color: var(--maincolor);
    font-size: 3em;
}

.contact p{
    color: var(--maincolor);
    padding-top:20px;
    padding-bottom: 30px;
    font-size: 1.25em;
}

.contact-form{
    display: flex;
    gap: 30px;
    padding-bottom: 150px;
}

input{
    background: transparent;
    width: 80vw;
    color: var(--maincolor);
    border: 1px solid var(--maincolor);
    border-radius: 5px;
    padding: 15px;
    font-size: 1.25em;
}

input:nth-of-type(4){
    width: 40vw;
    border-radius: 0px;
}

::placeholder{
    color: var(--maincolor);
}

footer{
    display: flex;
    background: var(--fifthcolor);
    padding: 25px;
    padding-bottom: 100px;
    width: 100vw;
}

footer p{
    color: var(--maincolor);
    width: 150px;
}