@media only screen and (min-width: 992px) {

    
    html {
        font-size: 18px;
    }

    .navigation{
        justify-content: space-between;
        padding: 0px 50px;
        margin-top: 1em;
    }

    /* .works {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; 
        margin-bottom: 6.25rem;
        height: auto;
    } */
}
    