@media only screen and (min-width: 768px) {

       
    html {
        font-size: 18px;
    }
    
    header {
        background-position: center;  
        align-items: normal;
        flex-direction: column;
        justify-content: space-evenly;
        color: var(--maincolor);
        height: vh;
    }
    
    .works {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%; 
        margin-bottom: 6.25rem;
        height: auto;
        background-color: transparent;
        width: 30%;
    }
}    

